.Head{
    width: 429px;
}
.child{
    resize: auto;
    width: 500px;
}
.AddSubItem{
    width: 130px;
    cursor: pointer;
}
.AddFeatures{
    width: 130px;
    cursor: pointer;
}
.Save{
    width: 100px;
    cursor: pointer;
}